body{
    background-color:rgb(231, 240, 242);
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.signup{
    width:400px;
    height:300px;
    margin:250px 600px;
    background-color:skyblue
    font-size:40px;
    border:3px solid rgb(72,45,106);
    padding:10px 30px 40px;
    border-radius:8px;
    
}   
.signup h2{
    color:rgb(72, 45, 106);
    text-align:center;
} 
.signup label{
    display:block;
    font-size:20px;
}
h1{
    margin:auto;
.input{
    color:rgb(72,45,106);

    
}
.input input{
    width:75%;
    font-size:18px;
    border:2px solid rgb(75, 19, 148);
    border-radius:8px;
    padding:5px 10px;
    box-sizing:border-box;
    margin:5px 0px 10px;
}
.submit{
    text-align:center;
}
button{
    font-size:20px;
    color:white;
    background-color:rgb(72, 45, 106);
    border-radius:8px;
    margin-top:10px;
    padding:3px 5px 3px;
    
}